@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: rgb(159, 135, 167);
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.7;
    font-size: 13px;
}

.testimonial{
    max-width: 1440px;
    padding: 20px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    
    
}

.card{
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: rgba(12, 20, 48, 0.48) 10px 100px 48px 5px;
    margin-bottom: 10px;
    
}

.card__header{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.card__header h3{
    font-size: 15px;
    margin-left: 16px;
}

.card__header p{
    opacity: 50%;
    margin-left: 16px;
    line-height: 11px;
}

.card__header img{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 2px solid;
    border-color: rgb(32, 158, 174);
}

.card__lead{
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 1.5rem;
    font-weight:bolder;
    line-height: 1.4;
}

.card__quote{
    opacity: 90%;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 15px;

}

.card--bg-purple{
    background-color: hsl(263, 60%, 51%);
    color: #fff;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat:no-repeat;
    background-position: top 10px right 100px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.card--bg-grayish{
    background-color: hsl(217, 19%, 35%);
    color: #fff;
}

.card--bg-blue{
    background-color: hsl(219, 29%, 14%);
    color: #fff;
    grid-column: 2 / 4;
    grid-row: 2;
}

.card--bg-harmon{
    background-color:  hsl(0, 0%, 100%);
    color: hsl(50%, 0%, 81%);
    grid-column: 4;
    grid-row: 1 / 3;
    
   
}

.card--bg-kira{
    background-color:  hsl(0, 0%, 100%);
    color: hsl(50%, 0%, 81%);
}

footer{
    justify-content: center;
    text-align: center;
}
